.banner {
  position: fixed;
  top: 0;
  background-color: var(--off-black);
  width: 100vw;
  color: white;
  font-size: .75rem;
  font-weight: 500;
  text-align: center;
  padding: .625rem;
  letter-spacing: .05rem;
  z-index: 5;
}

/* NAV */
nav {
  margin: 5.9375rem auto 3.75rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* RESPONSIVE WIDTH */
  width: 95%;
  max-width: 87.5rem;
  height: 3.5rem;
}

.nav-left, .nav-middle, .nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 2.1875rem; */
}

.nav-left img, .nav2-left img {
  width: 9.375rem;
}

.search-bar input,
.search-bar2 input {
  border: none;
  outline: none;
  width: 28.125rem;
  font-size: .9375rem;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .625rem;
  border: .125rem solid var(--yt-btn-light-hover);
  border-radius: 3.125rem;
  width: 37.5rem;
}

nav.nav-2 {
  display: none;
}

.search-bar i {
  padding-right: .625rem;
  cursor: pointer;
}

.nav-right img, 
.nav2-right img {
  height: 2rem;
}

.nav-right i, 
.nav2-right i {
  padding: 0 1.5625rem;
}
.nav-right i:hover, 
.nav2-right i:hover {
  cursor: pointer;
}

.nav-right a, 
.nav2-right a {
  text-align: center;
  font-size: 1.125rem;
  padding-right: 1.5625rem;
}

.nav-right a:hover 
.nav2-right a:hover {
  color: var(--off-black);
}

/* .nav-2 {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 3.5rem;
  max-width: 71.875rem;
} */

.nav-top {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav2-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* NAV */

/* MENU BAR */
.menu-slider {
  position: relative;
  max-width: 87.5rem;
  width: 95%;
  margin: 1.25rem .625rem;
  overflow-x: auto;
  white-space: nowrap;
}

.menu-slider::-webkit-scrollbar {
  display: none;
}

.menu-slider .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 96px;
  height: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
}

.menu-slider .icon.hide {
  display: none;
}

.menu-slider .icon:first-child {
  left: 0;
  background: linear-gradient(to right, white 45%, transparent);
}
.menu-slider .icon:last-child {
  justify-content: flex-end;
  right: 0;
  background: linear-gradient(to left, white 45%, transparent);
}

.icon i {
  display: inline-block;
  width: 38.4px;
  height: 38.4px;
  line-height: 38.4px;
  text-align: center;
  font-size: 1.25rem;
  transition: .3s ease-in-out;
  border-radius: 50%;
}


.icon i:hover {
  background-color: var(--arrow-btn);
  cursor: pointer;
  border-radius: 50%;
}

.menu-slider .tabs-box {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.tabs-box.dragging {
  scroll-behavior: auto;
  cursor: grab;
}

.menu-slider .tabs-box::-webkit-scrollbar {
  display: none;
}

.menu-slider ul {
	display: flex;
  justify-content: center;
	list-style: none;
	padding: 0;
}

.menu-slider a {
	background-color: var(--yt-btn-light);
  height: 1.125rem;
  width: 8.75rem;
	color: var(--yt-black);
	text-transform: uppercase;
  margin: 0 .375rem;
	padding: .625rem;
	font-size: .9375rem;
  font-weight: 500;
	border-radius: .75rem;
	display: block;
	text-align: center;
  transition: all .2s ease;
}

.menu-slider ul li a:hover {
  background-color: var(--yt-btn-light-hover);
}

.tabs-box .tab.active a {
  background-color: var(--yt-black);
  color: white;
}
li.tab.active {
  background-color: transparent;
}

.tabs-box .tab:first-child {
 padding-left: 9.375rem;
}
/* MENU BAR */

/* HEADER */
.slideshow-container {
  max-width: 87.5rem;
  width: 90%;
  position: relative;
  margin: 50px auto -60px auto;
}

.mySlides {
  display: none;
}

.mySlides img {
  vertical-align: middle;
}

.header-title {
  font-size: 3.125rem;
  /* font-size: clamp(15px, 6vw, 50px); */
  font-family: var(--ff-monoton);
  color: white;
  bottom: 250px;
  left: 50px;
  position: absolute;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(.625rem);
  border: .0625rem solid rgb(161, 161, 161);
  box-shadow: -3px .1875rem .625rem rgb(161, 161, 161);
  padding: 0rem 1.25rem;
	border-radius: .5rem;
  /* white-space:  pre; */
  word-spacing: .9375rem;
}

.header-btn {
  background: var(--yt-black);
  border: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3125rem;
	padding: .9375rem 1.25rem;
	color: white;
	border-radius: .5rem;
  width: 200px;
  text-align: center;
  transition: .2s ease;
  z-index: 1;
  position: relative;
  bottom: 150px;
  left: 50px;
  box-shadow: -3px .1875rem .625rem var(--yt-black);
}
.header-btn:hover {
  box-shadow: inset 6.25rem 6.25rem 6.25rem rgba(255, 255, 255, 0.1), -0.1875rem .1875rem .625rem .1875rem var(--yt-black);
  cursor: pointer;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1rem;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 1.125rem;
  transition: 0.6s ease;
  border-radius: 0 .1875rem .1875rem 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: .1875rem 0 0 .1875rem;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}

.dot {
  cursor: pointer;
  height: .9375rem;
  width: .9375rem;
  margin: 0 .125rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: .5s;
  animation-name: fade;
  animation-duration: .5s;
}

@-webkit-keyframes fade {
  from {opacity: .4;}
  to {opacity: 1;}
}
@keyframes fade {
  from {opacity: .4;}
  to {opacity: 1;}
}
/* HEADER */

/* BRANDS */
.brand-section {
  margin: 0 auto;
  width: 95%;
  max-width: 87.5rem;
}

.brands {
  margin-bottom: 3.125rem;
  max-width: 87.5rem;
	display: flex;
  flex-wrap: wrap;
	justify-content: space-around;
}

.brands img {
  padding: 1.25rem 7.5rem;
}

.brands .icon,
.brands2 .icon {
	width: 4.6875rem;
	height: 4.6875rem;
  border-radius: 50%;
}

.brands2 .icon{
  border: .0625rem solid rgb(208, 208, 208);
  margin: 0 6.25rem;
}

.see-all-brands {
  color: var(--blue-link);
  text-align: end;
  padding-right: 4.375rem;
  margin-top: -20px;
  transition: all .2s ease;
}

.see-all-brands:hover {
  color: var(--blue-link-hover);
}
/* BRANDS */

/* CATEGORIES */
.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.sub-container {
  display: flex;
  flex-direction: column;
  max-width: 87.5rem;
  width: 95%;
  margin: 0 auto;
}

.board-container {
  position: relative;
  margin: .375rem;
  min-height: 6.25rem;
  width: 15.625rem;
  perspective: 800px;
  transition: all 0.5s ease;
}

.board {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  background-color: transparent;
  transition: all 0.5s ease;
}

.board-container:hover .board{
  transform: rotateX(540deg);
}

.board-front {
  position: absolute;
  width: 100%;
  font-weight: 500;
  height: 100%;
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
  min-height: 6.25rem;
  align-items: center;
  background: white url('../images/skateboard-grip-tape-top.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  color: white;
}

.board-back {
  position: absolute;
  width: 95%;
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
  min-height: 6.25rem;
  align-items: center;
  background: white url('../images/skateboard1.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  color: white;
  font-family: "Oleo Script", system-ui;
  transform: rotateX(180deg);
}
.board-back2 {
  position: absolute;
  width: 95%;
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
  min-height: 6.25rem;
  align-items: center;
  background: white url('../images/skateboard2.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  color: white;
  font-family: "Oleo Script", system-ui;
  transform: rotateX(180deg);
}
.board-back3 {
  position: absolute;
  width: 92%;
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
  min-height: 6.25rem;
  align-items: center;
  background: white url('../images/skateboard3.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  color: white;
  font-family: "Oleo Script", system-ui;
  transform: rotateX(180deg);
}
.board-back4 {
  position: absolute;
  width: 95%;
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
  min-height: 6.25rem;
  align-items: center;
  background: white url('../images/skateboard4.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  color: white;
  font-family: "Oleo Script", system-ui;
  transform: rotateX(180deg);
}
.board-back5 {
  position: absolute;
  width: 95%;
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
  min-height: 6.25rem;
  align-items: center;
  background: white url('../images/skateboard5.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  color: white;
  font-family: "Oleo Script", system-ui;
  transform: rotateX(180deg);
}
.board-back6 {
  position: absolute;
  width: 95%;
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
  min-height: 6.25rem;
  align-items: center;
  background: white url('../images/skateboard6.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  color: white;
  font-family: "Oleo Script", system-ui;
  transform: rotateX(180deg);
}
.board-back7 {
  position: absolute;
  width: 95%;
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
  min-height: 6.25rem;
  align-items: center;
  background: white url('../images/skateboard7.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  color: white;
  font-family: "Oleo Script", system-ui;
  transform: rotateX(180deg);
}
.board-back8 {
  position: absolute;
  width: 98%;
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
  min-height: 6.25rem;
  align-items: center;
  background: white url('../images/skateboard8.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  color: white;
  font-family: "Oleo Script", system-ui;
  transform: rotateX(180deg);
}

.board a {
  color: white;
  font-weight: 600;
  font-size: 1.875rem;
}
/* CATEGORIES */

/* COLLECTION */
.learn-more p,
.learn-more-alt p {
	color: var(--off-black);
}

.learn-more {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0 2.5rem;
	padding: 3.125rem;
	align-items: center;
	text-align: left;
}

.learn-more-alt {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0 2.5rem;
	padding: 3.125rem;
	align-items: center;
	text-align: right;
}

.learn-more-alt img {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}
/* COLLECTION */

/* SKATE VIDEO */
.skate-video {
  display: flex;
  max-width: 71.875rem;
  width: 95%;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
}

.skate-iframe {
  position: relative;
  width: 95%;
  max-width: 71.875rem;
  overflow: hidden;
  padding-top: 56.25%;
}

.skate-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.skate-video-text {
  display: flex;
  align-items: center;
  padding: .625rem 1.25rem;
  background-color: var(--yt-btn-light);
  margin: 3.125rem 0 3.125rem 0;
  border-radius: .5rem;
  font-weight: 400;
}

.skate-video-text a {
  color: var(--yt-black);
  padding-right: .625rem;
  font-size: 1.5625rem;
}

.skate-video-text:hover {
  background-color: var(--yt-btn-light-hover);
}
/* SKATE VIDEO */

/* GALLERY */
.skate-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
	grid-gap: 1.25rem;
  margin-bottom: 5rem;
}

.skate-gallery h2:before, .skate-gallery h2:after {
	display: block;
	content: '';
	height: .625rem;
	background: linear-gradient(to left, var(--navy), transparent);
}

.skate-gallery h2:after {
	background: linear-gradient(to right, var(--navy), transparent);
}

.skate-gallery h2 {
  color: var(--navy);
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-column: 1 / -1;
	grid-gap: 1.25rem;
	align-items: center;
}
/* GALLERY */

/* FOOTER */
/* FOOTER TOP */
.footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-top {
  display: flex;
  justify-content: center;
  background-color: var(--navy);
  margin: 2.5rem 0;
  width: 100vw;
}

.footer-top img {
  height: 6.25rem;
  padding: .625rem;
}

.footer-top h2 {
  font-family: var(--ff-montserrat);
  font-weight: 900;
  font-size: 2.1875rem;
}

.footer-top a {
  color: white;
}

/* FOOTER MAIN */
.footer-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 18.75rem;
  width: 95%;
  max-width: 87.5rem;
  padding: 1.5625rem 1rem;
}

.footer-col {
  display: flex;
  flex-direction: column;
  width: 15.625rem;
  min-height: 18.75rem;
}

.footer-col h3 {
  font-weight: 500;
}

.footer-col a:hover{
  text-decoration: underline;
}

.footer-col a,
.footer-col p,
.footer-col label {
  color: var(--off-black);
  font-size: .875rem;
}

.f1 a, .f3 a {
  padding: .3125rem 0 .3125rem 0;
}

.footer-col img {
  width: 12.5rem;
}

.footer-col h4 {
  color: var(--navy);
  text-align: center;
  font-size: 1.4375rem;
  margin: 0 auto 2.5rem auto;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
}

.footer-col input {
  width: 14.875rem;
  height: 1.5625rem;
  margin-top: .625rem;
  border: .0625rem solid var(--off-black);
  color: var(--light-black);
  border-radius: .125rem;
  outline: none;
  font-size: .875rem;
  padding: .3125rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  background-color: var(--yt-black);
  border-radius: 0;
  font-weight: 600;
  font-size: .875rem;
  margin: .9375rem 0 .9375rem 0;
  padding: .625rem auto .625rem auto;
}

.btn:hover { 
  cursor: pointer;
}

.footer-col.f4 p {
  text-align: justify;
  line-height: 1.4;
  margin: 0;
}

/* FOOTER BOTTOM */
.footer-bottom {
  white-space:  pre;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--navy);
  height: 6.25rem;
  font-weight: 500;
  color: white;
  width: 100vw;
  margin-top: 2.5rem;
}

.footer-bottom a {
  color: white;
}
.footer-bottom a:hover {
  text-decoration: underline;
}
/* FOOTER */
